.card{

width: 640px;
height: 410px;
cursor:pointer;
transform-style: preserve-3d;
border-radius: 10px;
transition: 0.5s;




}
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}

.card2{
   
    transform: rotateY(180deg);
    
}
.card.flip{
    transform: rotateY(180deg);
}



@media (max-width: 640px) {
            .card {
                height: 200px;
                max-width: 320px;
            }
           
        }
        
        @media (min-width: 641px) and (max-width: 768px) {
            .card {
                height: 220px;
                max-width: 350px;
            }
            
        }
        
        @media (min-width: 769px) {
            .card {
                height: 250px;
                max-width: 400px;
            }
             
        }