.card{

width: 640px;
height: 410px;
cursor:pointer;
transform-style: preserve-3d;
border-radius: 10px;
transition: 0.5s;




}
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden; 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}

.card2{
   
    transform: rotateY(180deg);
    
}
.card.flip{
    transform: rotateY(180deg);
}

